In [17]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv('Loan_status_2007-2020Q3.gzip')

/tmp/ipykernel_53/178761628.py:1: DtypeWarning: Columns (1,48,58,117,127,128,129,132,133,134,137) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Loan_status_2007-2020Q3.gzip')

In [19]:
df.head()

,Unnamed: 0,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,0,1077501,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,1,1077430,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,2,1077175,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,3,1076863,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,4,1075358,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369981 entries, 0 to 1369980
Columns: 142 entries, Unnamed: 0 to debt_settlement_flag
dtypes: float64(106), int64(1), object(35)
memory usage: 1.4+ GB

In [21]:
df.loan_status.value_counts()

loan_status
Current                                                707604
Fully Paid                                             507809
Charged Off                                            129554
Late (31-120 days)                                      12776
In Grace Period                                          7318
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1963
Does not meet the credit policy. Status:Charged Off       761
Default                                                   207
Name: count, dtype: int64

In [22]:
df_sub = df.sample(n=32768, random_state=131)
df_sub.head()

,Unnamed: 0,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
800441,89739,137529208,20000.0,20000.0,20000.0,36 months,11.06%,655.35,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1321759,107637,155739756,17500.0,17500.0,17500.0,36 months,8.81%,554.95,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
584127,4197,134562051,16000.0,16000.0,16000.0,36 months,12.13%,532.43,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1221520,7398,159280633,38000.0,38000.0,38000.0,60 months,12.40%,853.00,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
28422,28422,539293,4800.0,4800.0,4800.0,36 months,7.14%,148.52,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [23]:
df_sub = df_sub[['loan_amnt','annual_inc','term','int_rate','installment','grade','sub_grade','purpose','loan_status','dti','last_fico_range_high','last_fico_range_low','total_acc', 'delinq_2yrs', 'emp_length']]

In [24]:
df_sub.head()
df_sub.to_csv('lc.csv', index=False)

In [25]:
df = pd.read_csv('lc.csv')

In [26]:
df.dropna(inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30376 entries, 0 to 32767
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             30376 non-null  float64
 1   annual_inc            30376 non-null  float64
 2   term                  30376 non-null  object
 3   int_rate              30376 non-null  object
 4   installment           30376 non-null  float64
 5   grade                 30376 non-null  object
 6   sub_grade             30376 non-null  object
 7   purpose               30376 non-null  object
 8   loan_status           30376 non-null  object
 9   dti                   30376 non-null  float64
 10  last_fico_range_high  30376 non-null  float64
 11  last_fico_range_low   30376 non-null  float64
 12  total_acc             30376 non-null  float64
 13  delinq_2yrs           30376 non-null  float64
 14  emp_length            30376 non-null  object
dtypes: float64(8), object(7)
memory usage: 3.7+ MB

In [28]:
def convert_percent_to_float(x):
    # print(x)
    x = x.strip('%')
    # print(x)
    x = float(x)
    return x / 100

df['int_rate'] = df['int_rate'].apply(convert_percent_to_float)

df["term"] = df["term"].astype("category")
df["grade"] = df["grade"].astype("category")
df["sub_grade"] = df["sub_grade"].astype("category")
df["purpose"] = df["purpose"].astype("category")
df["loan_status"] = df["loan_status"].astype("category")
df["emp_length"] = df["emp_length"].astype("category")

In [29]:
import heaan_sdk

context = heaan_sdk.Context(
    parameter=heaan_sdk.HEParameter.from_preset("FGb"),
    key_dir_path="./keys_stat",
    load_keys="all",
    generate_keys=True,
)

The currently used HEaaN library does not support GPU acceleration

In [30]:
hf = heaan_sdk.HEFrame.from_frame(context, df)

In [31]:
hf.encrypt()

HEFrame(
  number of rows: 32768,
  number of columns: 15,
  list of columns: ['loan_amnt', 'annual_inc', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'purpose', 'loan_status', 'dti', 'last_fico_range_high', 'last_fico_range_low', 'total_acc', 'delinq_2yrs', 'emp_length']
)

In [61]:
# ë³µí˜¸í™”
df_decrypted = hf.decrypt()
print(df_decrypted)

HEFrame(
  number of rows: 32768,
  number of columns: 16,
  list of columns: ['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'purpose', 'loan_status', 'dti', 'last_fico_range_high', 'last_fico_range_low', 'total_acc', 'delinq_2yrs', 'emp_length', 'bad', 'avg_monthly_inc']
)

In [50]:
print(hf)

HEFrame(
  number of rows: 32768,
  number of columns: 16,
  list of columns: ['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'purpose', 'loan_status', 'dti', 'last_fico_range_high', 'last_fico_range_low', 'total_acc', 'delinq_2yrs', 'emp_length', 'bad', 'avg_monthly_inc']
)

In [32]:
hf["bad"] = (hf["loan_status"] != "Fully Paid") & (hf["loan_status"] != "Current")

In [33]:
hf["avg_monthly_inc"] = hf["annual_inc"] * (1 / 12)

In [34]:
hf.info()

<class 'heaan_sdk.frame.frame.HEFrame'>
Data rows: 32768
Data columns (total 17 columns):
#    Column                    Dtype      Encrypted
---  ------------------------  ---------  ----------
  0  loan_amnt                 float64    True
  1  annual_inc                float64    True
  2  term                      category   True
  3  int_rate                  float64    True
  4  installment               float64    True
  5  grade                     category   True
  6  sub_grade                 category   True
  7  purpose                   category   True
  8  loan_status               category   True
  9  dti                       float64    True
 10  last_fico_range_high      float64    True
 11  last_fico_range_low       float64    True
 12  total_acc                 float64    True
 13  delinq_2yrs               float64    True
 14  emp_length                category   True
 15  bad                       bool       True
 16  avg_monthly_inc           float      True
dtypes: category(6), float64(9), float(1), bool(1)

In [35]:
mean_inc = hf["avg_monthly_inc"].mean()
mean_inc.decrypt().to_series()[0]

6842.248869483811

In [36]:
std_inc = hf["avg_monthly_inc"].std()
std_inc.decrypt().to_series()[0]

5278.645371355188

In [37]:
corr_inc = hf["avg_monthly_inc"].corr(hf["annual_inc"])
corr_inc.decrypt().to_series()[0]

1.0000009301583745

In [38]:
hf.drop("annual_inc", axis=1, inplace=True)

HEFrame(
  number of rows: 32768,
  number of columns: 16,
  list of columns: ['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'purpose', 'loan_status', 'dti', 'last_fico_range_high', 'last_fico_range_low', 'total_acc', 'delinq_2yrs', 'emp_length', 'bad', 'avg_monthly_inc']
)

In [39]:
skew_inc = hf["avg_monthly_inc"].skew()
skew_inc.decrypt().to_series()[0]

9.63796192428294

In [40]:
kurt_inc = hf["avg_monthly_inc"].kurt()
kurt_inc.decrypt().to_series()[0]

275.29168716475994

In [41]:
mean_inc_with_A = hf['avg_monthly_inc'][hf['grade']=='A'].mean()
mean_inc_with_A.decrypt().to_series()[0]

7618.998242820654

In [42]:
std_inc_with_A = hf['avg_monthly_inc'][hf['grade']=='A'].std()
std_inc_with_A.decrypt().to_series()[0]

6488.291232342549

In [43]:
null_mean = 6500
t_test = hf['avg_monthly_inc'].t_test(null_mean)
t_test.decrypt().to_series()

0       11.300166
1    30375.000000
Name: avg_monthly_inc_t_test, dtype: float64